body{
    position: fixed;
    margin-left: 25%;
    margin-top: 100px;
    
}

#gambar {
    display:block; 
    margin:auto;
    align-content: center;
}

h2 {
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}